</main>
<footer>

        <div class="taakbalk-optie">
            <img src="/images/messages.png" alt="messages">
        </div>
        <div class="taakbalk-optie taakbalk-optie-actief">
            <img src="/images/home.png" alt="home">
        </div>
        <div class="taakbalk-optie">
            <img src="/images/matches.png" alt="matches">
        </div>
    
</footer>
<script src="/scripts/script.js"></script>
</body>
</html>