<header>
    <img src="/images/logo2.png" alt="logo van Match" />
    <!-- <img src="/images/menu.png" alt="menu" class="hamburger" />
    <img src="/images/cross.png" alt="hide-menu" class="cross display-none" /> -->
    <nav>
        <ul>
            <a href="/my-profile"
                ><li>
                    <img
                        src="/uploads/<%= profile.profielfoto %>"
                        alt="mijn profiel"
                    />
                    <p>Mijn profiel</p>
                </li></a
            >
        </ul>
    </nav>
</header>
<main>
