<%- include ('includes/head.ejs') %>

    <div class="setup">
        <img src="images/logo1.png" alt="Logo van Match">
        <p>Er zullen nu 10 vragen komen die je moet beantwoorden. Op basis van deze vragen gaan we op zoek naar de perfecte match voor jou.</p>
        <a href="question1?question=1"><button>Verder</button></a>

     </div>

