/* font-family: 'Aladin', cursive;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(228,30,38);
    background: linear-gradient(0deg, rgba(228,30,38,1) 0%, rgba(30,30,30,1) 55%, rgba(30,30,30,1) 100%);
    background-attachment: fixed;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

.setup img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80px;
}

.setup input {
    display: block;
    margin: 0px auto 20px auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(255,255,255,0.16);
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;
}

textarea {
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: rgba(255,255,255,0.16);
    border: 1px solid white;
    border-radius: 20px;
}


.index input, textarea {
    display: block;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.setup button, .quiz-questions a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 20px;
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    bottom: 30px;
    border: none;
}

.setup p {
    font-size: 20px;
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.setup input::placeholder, .setup textarea::placeholder {
    color: white;
}

/* QUIZ QUISTIONS STYLING */

.quiz-questions img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80px;
}

.quiz-questions p {
    text-align: center;
    margin: 0px 20px;
}

.quiz-questions input {
    margin-top: 50px;
}

.quiz-questions label {
    color: white;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(255,255,255,0.16);
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    width: 250px;
}

.quiz-questions form{
    display: block;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
}


/* STYLING VAN DE HEADER */

header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: rgba(228,30,38,1);
    z-index: 100;
}

main {
    padding-top: 80px;
    padding-bottom: 80px;
}

header > img{
    margin-left: 20px;
    height: 50px;
    width: auto;
}

header img:nth-child(2), header img:nth-child(3) {
    position: absolute;
    height: 20px;
    width: auto;
    top: 20px;
    right: 20px;
}

.display-none {
    display: none;
}

/* STYLING VAN HET HAMBURGERMENU */
nav {
    position: absolute;
    background-color: #BC2027;
    top: 60px;
    right: 0px;
    height: 100vh;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.menu-items-active {
    transform: translateX(0%);
}

nav ul {
    text-align: center;
    margin-top: 30px;;
}

nav ul li {
    list-style-type: none;
}

nav ul li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50%;
    max-width: 300px;
}



/* STYLING VAN DE FOOTER */

footer {
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

footer .taakbalk-optie img {
    width: 30px;
    height: auto;
}

footer .taakbalk-optie {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

footer .taakbalk-optie-actief {
    background-color: #232323;
}

/* STYLING VAN DE HOMEPAGINA (LIJST MET MOGELIJKE MATCHES) */

.profiel-item {
    margin: 15px;
    background-color: rgba(255,255,255,0.16);
    display: flex;
    border-radius: 20px;
}

.profiel-foto {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profiel-foto img {
    width: 70%;
    border-radius: 50%;
    margin: 20px;
}

.profiel-informatie {
    width: 50%;
}

.profiel-informatie h2 {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.match-berekening {
    width: 60%;
    height: 60%;
    /* background-image: url(../images/hart.png); */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.match-berekening img {
    padding-top: 20px;
    width: 100%;
    z-index: 1;
}

.match-berekening p {
    font-size: 24px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 2;
}

/* STYLING VAN DE DETAIL-PAGINA */

.profiel-detail-pagina {
    background-color: rgba(255,255,255,0.16);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

.profiel-detail-pagina .profiel-top-info {
    display: flex;
}

.profiel-detail-pagina .profiel-item-informatie {
    padding: 15px;
}


.profiel-detail-pagina .profiel-item-informatie p:last-child {
    display: flex;
    justify-content: space-around;
}

.profiel-detail-pagina .profiel-item-informatie button {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #E41E26;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    margin-top: 30px;
}

.profiel-detail-pagina .profiel-item-informatie p a {
    display: block;
}

.profiel-detail-pagina .profiel-item-informatie p a img {
    width: 10px;
}

.quiz-questions button {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 20px;
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    bottom: 30px;
    border: none;
}

.profiel-detail-pagina button {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #E41E26;
    border-radius: 20px;
    display: block;
    text-align: center;
    border: none;
}


.profiel-item-informatie form {
    display: inline-block;
}

.profiel-item-informatie div {
    display: flex;
    justify-content: space-around;
}

.profiel-detail-pagina input {
    display: block;
    margin: 0px auto 20px auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(255,255,255,0.16);
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;
}

.profiel-detail-pagina input::placeholder {
    color: white;
}

.profiel-detail-pagina textarea::placeholder {
    color: white;
}

.profiel-detail-pagina button {
    margin: 20px auto 20px auto;
    padding: 10px 40px;
}

.profiel-detail-pagina h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}


/* styling van mijn step-pogress-bar */


.quiz-questions .container{
    display: flex;
    justify-content: center;
}

.step_progress_bar {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 50px;
}

.step_progress_bar .step .bullet {
    vertical-align: center;
    color: white;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    position: relative;
}

.step_progress_bar .step .bullet.completed {
    background-color: #1E1E1E;
    color: greenyellow;
    border-color: #1E1E1E;
}

.step_progress_bar .step .bullet.current_step {
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-top: -10px;
    font-size: 24px;
}

div.container.hidden {
    display: none ;
}

/* opacicty regelen van de hartjes van de matches */

.nul-procent {
    opacity: 0.0;
}

.tien-procent {
    opacity: 0.1;
}

.twintig-procent {
    opacity: 0.2;
}

.dertig-procent {
    opacity: 0.3;
}

.veertig-procent {
    opacity: 0.4;
}

.vijftig-procent {
    opacity: 0.5;
}

.zestig-procent {
    opacity: 0.6;
}

.zeventig-procent {
    opacity: 0.7;
}

.tachtig-procent {
    opacity: 0.8;
}

.negentig-procent {
    opacity: 0.9;
}

.honderd-procent {
    opacity: 1;
}





